/* config. gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 243, 243);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#app{
    border:1px solid black;
    border-radius: 15px;
    width: 300px;
    height: 450px;
    padding: 15px;
    background-color: rgb(37, 37, 37);
}

.r_display{
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 15px;
    text-align: end;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 10px;
}

.botoes{
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
}

.btn{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
}

/* botoes */

#c{
    grid-column-start: 1;
    grid-column-end: 3;
}

#igual{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: rgb(248, 115, 6);
}

#zero{
    grid-column-start: 1;
    grid-column-end: 3;
}

#ponto{
    grid-column-start: 3;
    grid-column-end: 4;
}